body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background: #044464;
    position: static;
    height: 100px;
    width: 100%;
    margin-top: 0;
}

header img {
    width: 18%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 10px;
}


/* ---------- HEADER -------- */

main {
    background-color: #B6FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

main h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24pt;
    color: #004173;
    display: flex;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 20px;
}

main form {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#form-container {
    background: #0979B0;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 19px 0px black;
    margin-bottom: 40px;

}

main h2 {
    font-weight: bold;
    font-size: 18pt;
    margin: 0;
    margin-top: 10px;
}

main label {
    font-size: 12pt;
    margin-top: 10px;
}

.form-fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main input {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 25px;
}

main input::placeholder {
    font-size: 8pt;
    text-align: left;
    filter: opacity(.8);
    padding-left: 10px;
}



main button {
    background-color: #0979B0;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: white 2px solid;
    font-size: 12pt;
}

main button:hover {
    font-size: 14pt;
    filter: brightness(1.2);
}

#result {
    background: white;
    font-size: 10pt;
    color: black;
    width: 20%;
    margin-left: 40%;
    margin-top: 50px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    padding-top: 18px;
    font-size: 16pt;
}

#alert {
    background: white;
    font-size: 10pt;
    color: black;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    height: 25px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 14pt;
}


/* ---------- FOOTER -------- */

footer {
    background: #044464;
    margin: 0;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

footer p {
    margin: 0;
    color: white;
    font-size: 8pt;
}


@media screen and (max-width:500px) {
    header img {
        width: 40%;
    }
    
    main h1{
        font-size: 18pt;
    }

    main h2{
        font-size: 12pt;
    }
    
    #form-container p {
        font-size: 10pt;
    }

    #form-container label {
        font-size: 8pt;
    }

    #form-container input {
        height: 20px;
    }

    main button{
        font-size: 10pt;
    }

    main button:hover{
        font-size: 12pt;
    }

    #result {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 40%;
        font-size: 12pt;
        height: 20px;
        padding-top: 5px;
    }

    #alert {
        font-size: 10pt;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        height: 20px;
        padding-top: 5px;
    }
}